# Nom du realme keycloak à joindre
KEYCLOAK_REALM="mon-realm"

# URL d'authentification du serveur keycloak
KEYCLOAK_AUTH_URL="({proto}://{host}:{port})/auth"

# Nom du client keycloak à utiliser (l'application)
KEYCLOAK_CLIENT_ID="mon-application-proteger-par-keycloak" 

# Clé secrète d'accès au client (l'application)
KEYCLOAK_CLIENT_SECRET="blablablablablalbalbalbalbbal" 

# Roles autorisés par keyloak à accéder au client
KEYCLOAK_CLIENT_ROLE="mes-roles" 

# URL de retour qui doit pointer sur l'application courante
KEYCLOAK_REDIRECT_URI="({proto}://{host}:{port})/callback" 

# Permet à OIDC d'accepter du HTTP, à passer sur true uniquement en dev
KEYCLOAK_ALLOW_HTTP="true|false" 

# Clé secret de la session applicatif (express ou fastify) 
# Générable via la commande : node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SESSION_SECRET="614c7c7292a3135e0d49d81ac115442e95ee8b6e2050e18e62ac826e620c3465" 
